/public/mix-manifest.json
/storage/debugbar
/storage/logs
/workbench
/node_modules
/public/storage
/public/builder
/public/css
/public/fonts
/public/webfonts
/public/assets/fonts
/public/images
/public/js
/public/hot
/public/build
/storage/*.key
/vendor
.DS_Store
.env
.env.lando
.env.production
.env.staging
.env.uat
.env.dusk.*
.env.testing
.phpunit.result.cache
.snyk
cat-quality-script
clover.xml
filebeat.yml
Homestead.json
Homestead.yaml
npm-debug.log
pfaws.yml
storage/rapid.sqlite
yarn.lock

/public/js/app.js
/public/css/app.css
public/mix-manifest.json

.DS_Store.DS_Store
.DS_Store
storage/.DS_Store
.phpunit.result.cache
report.20*

atlassian-ide-plugin.xml
yarn-error.log
.php_cs.cache
.php-cs-fixer.cache
tsconfig.json

# phpdbg
coverage*

# IDE Helper / barryvdh/laravel-ide-helper
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
/.idea
*.code-workspace
/.vscode

# local jobs migration
database/migrations/*create_jobs_table.php

tinker.config.php
